.sidebar, .stage {
    float: left;
    width: 45%;
    height: 400px;
    padding: 10px;
    border: 1px solid black;
}
.item {
    padding: 8px;
    margin: 4px;
    cursor: move;
    background: lightgrey;
}
